# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Configuration Files with Secrets
Config.xcconfig
*.xcconfig

# Build Products
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# App Store Credentials
AuthKey_*.p8
*.mobileprovision
*.cert

# Temporary Files
*.swp
*~.nib

# Ruby Bundler
vendor/bundle/
.bundle/

# OS Files
.DS_Store
